.cart h3{
        margin-top: 16px;
         text-align: center;
        text-decoration: underline;
}
.cart{
        background: rgba(255, 153, 0, 0.3);
        padding: 30px;
        position: sticky;
        top: 0;
}
.item-add{
        margin-top: 20px;
         margin-left: 20px;
}
.item-add p{
        margin-top: 20px;
        font-size: 24px;
}
.clear-btn{
        width: 100%;
        color: beige;
        font-weight: bold;
        margin: 10px auto;
        padding: 10px;
        background-color: rgb(172, 145, 110);
        border: none;
        display: flex;
        justify-content: space-around;
        border-radius: 10px;

}
.clear-btn:hover{
        background-color: red;
}