*{
        margin: 0;
        padding: 0;
}
.header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 80px;
       background-color: #1e323f;
       padding-right: 100px;
       padding-left: 100px;
}
.menu a{
     text-decoration: none; 
      margin-right: 80px; 
      color: rgb(245, 223, 223);
      font-weight: 800;
      font-size: 25px;
}
 .menu a:hover{
        color: orange;
         
 }